    <a href="#main" class="skip-link">Skip to content</a>
    <nav class="navbar" aria-label="Main navigation">
        <div class="container navbar-inner">
            <div class="nav-links">
                <a href="index.html" class="nav-link<% if (typeof activeNav !== 'undefined' && activeNav === 'blog') { %> active<% } %>">Blog</a>
                <a href="running.html" class="nav-link<% if (typeof activeNav !== 'undefined' && activeNav === 'running') { %> active<% } %>">Running</a>
                <a href="reading.html" class="nav-link<% if (typeof activeNav !== 'undefined' && activeNav === 'reading') { %> active<% } %>">Reading</a>
            </div>
        </div>
    </nav>
